.background-login {
    height: 100%;
    background-color: aqua;
    position: relative;
    width: 100%;
    background-image: url('/public/images/10141610.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}

.chieucao {
    height: 95vh;
}

.login-form {
    width: 470px;
    height: 80%;
    padding: 15px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    /* Màu nền trong suốt */
    border-radius: 10px;
    /* Bo góc */
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* Đường viền trong suốt */
    backdrop-filter: blur(10px);
    /* Hiệu ứng mờ */
    -webkit-backdrop-filter: blur(10px);
    /* Hiệu ứng mờ cho Safari */
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.lable {
    font-size: 20px;
}

.input-login {
    height: 50px;
    font-size: 20px;
    position: relative;
}

.btn-log-regis {
    margin-top: 20px;
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 600;
}

.label-input {
    height: 120px;
    margin-top: 5px;
}

.show-mess {
    line-height: 20px;
    color: #dc3545;
    margin-top: 5px;
    font-weight: 500;
}

.icon-login {
    font-size: 25px;
    margin-right: 10px;
}

/* HTML: <div class="loader"></div> */
.loader-login {
    height: 30px;
    aspect-ratio: 2.5;
    --_g: no-repeat radial-gradient(farthest-side, #000 90%, #0000);
    background: var(--_g), var(--_g), var(--_g), var(--_g);
    background-size: 20% 50%;
    animation: l43 1s infinite linear;
}

@keyframes l43 {
    0% {
        background-position: calc(0*100%/3) 50%, calc(1*100%/3) 50%, calc(2*100%/3) 50%, calc(3*100%/3) 50%
    }

    16.67% {
        background-position: calc(0*100%/3) 0, calc(1*100%/3) 50%, calc(2*100%/3) 50%, calc(3*100%/3) 50%
    }

    33.33% {
        background-position: calc(0*100%/3) 100%, calc(1*100%/3) 0, calc(2*100%/3) 50%, calc(3*100%/3) 50%
    }

    50% {
        background-position: calc(0*100%/3) 50%, calc(1*100%/3) 100%, calc(2*100%/3) 0, calc(3*100%/3) 50%
    }

    66.67% {
        background-position: calc(0*100%/3) 50%, calc(1*100%/3) 50%, calc(2*100%/3) 100%, calc(3*100%/3) 0
    }

    83.33% {
        background-position: calc(0*100%/3) 50%, calc(1*100%/3) 50%, calc(2*100%/3) 50%, calc(3*100%/3) 100%
    }

    100% {
        background-position: calc(0*100%/3) 50%, calc(1*100%/3) 50%, calc(2*100%/3) 50%, calc(3*100%/3) 50%
    }
}