/* thực hiện viết các css chung nếu có  và các font chữ, màu sắc*/
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body {
  margin: 0;
  height: 90vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url("/public/images/123.png"); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* background-color: var(--background-color); */
:root {
  --primary-color: #3498db;
  --secondary-color: #EEF0F4;
  --background-color: #f1c40f;
  --spec-color: #F5F5F0;
  --btn-color: #99C1D0;
  --text-color: #2c3e50;
}

.height-min {
  min-height: 95vh;
}